{{ services.forgejo.subdomain }}.{{ public_domain }} {

    # Reverse proxy to the Podman container
    reverse_proxy localhost:{{ services.forgejo.container_port }}

    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.1 
    }

    # Optional: Log to the path Fail2Ban is watching
    log {
        output file /var/log/caddy/forgejo.log
        format json
    }
}
